body {
  margin: 0;
  padding: 0;
}
h2.sub {
  color: #999999;
  font-size: 15px;
  text-align: center;
}
.display-section {
  max-width: 700px;
  position: relative;
  margin: 0 auto;
  min-height: 100px;
  margin-bottom: 10px;
}
.display-section img {
  width: 100%;
}
.lyric-th, .lyric-en {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  margin: 0;
  font-weight: bold;
}
.lyric-th, .lyric-en {
  -webkit-text-stroke-width: 0.2em;
  -webkit-text-stroke-color: black;
  color: white;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  margin: 0;
  font-weight: bold;
}
.lyric-th {
  bottom: 30px;
  font-size: 25px;
  -webkit-text-stroke-width: 0.15em;
  font-family: 'Thonburi', 'EucrosiaUPC', serif;
}
.lyric-th.top {
  -webkit-text-stroke-width: 0;
  z-index: 1;
  color: white;
}
.lyric-th.overlay {
  -webkit-text-stroke-width: 0.10em;
  -webkit-text-stroke-color: white;
  z-index: 2;
  color: blue;
  clip: rect(0px, 200px, 100px, 0px);
}
.lyric-th.top.overlay {
  -webkit-text-stroke-width: 0;
  z-index: 3;
  color: blue;
  clip: rect(0px, 200px, 100px, 0px);
}
.lyric-en {
  bottom: 15px;
  font-size: 15px;
  font-family: 'Arial', sans-serif;
}
.lyric-en.top {
  -webkit-text-stroke-width: 0;
  z-index: 1;
  color: black;
  color: #E07E1C;
}
.lyric-en.overlay {
  -webkit-text-stroke-width: 0.13em;
  -webkit-text-stroke-color: white;
  z-index: 2;
  color: blue;
  clip: rect(0px, 200px, 100px, 0px);
}
.lyric-en.top.overlay {
  -webkit-text-stroke-width: 0;
  z-index: 3;
  color: blue;
  clip: rect(0px, 200px, 100px, 0px);
}
